<style>
  .order_d_inner .details_item h4 {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    font-size: 18px;
    color: #222222;
    padding-left: 18px;
  }
  .order_d_inner .details_item .list {
    padding-left: 18px;
  }
  @media (min-width: 767px) {
    .order_d_inner .details_item .list {
      margin-bottom: 30px;
    }
  }
  .order_d_inner .details_item .list li {
    margin-bottom: 8px;
  }
  .order_d_inner .details_item .list li:last-child {
    margin-bottom: 0px;
  }
  .order_d_inner .details_item .list li a {
    font-size: 14px;
    color: #222222;
    font-family: "Roboto", sans-serif;
  }
  .order_d_inner .details_item .list li a span {
    width: 145px;
    display: inline-block;
    color: #777777;
  }

  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0.9375rem;
  }
</style>

<%- include('./partials/admin-dash.ejs') %>

<div class="card mt-4 m-3">
  <h5 class="card-header">Products</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Order ID</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Payment Mode</th>
          <th>Payment status</th>
          <th>Track</th>
          <th></th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <% for( let i = 0; i < result.length; i++ ) { %>

        <tr>
          <th scope="row"><%= result[i]._id %></th>
          <td><%= result[i].deliveryAddress.firstName %></td>
          <td>₹ <%= result[i].total %></td>
          <td><%= result[i].paymentMethod %></td>
          <td><%= result[i].paymentStatus %></td>

          <td>
            <select
              style="background-color: yellow; text-size-adjust: 12px"
              name="track"
              id="track<%= i %>"
            >
              <option value="<%= result[i].orderStatus %>" selected>
                <%= result[i].track %>
              </option>
              <option value="Cancellede">Cancellede</option>
              <option value="orderconfirmed">orderconfirmed</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
              <option value="Out For Delivery">Out For Delivery</option>
            </select>
          </td>
          <td>
            <button
              type="button"
              id="changetrack"
              class="btn btn-primary btn-sm"
              onclick="orderStatus('<%= result[i]._id %>','<%= i %>')"
            >
              Change
            </button>
          </td>

          <td>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModalLong"
            >
              View details
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModalLong"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLongTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5
                      class="modal-title"
                      id="exampleModalLongTitle"
                      style="color: black"
                    >
                      Order Details
                    </h5>
                    
                  </div>
                  <div class="modal-body col-lg-12" id="invoice">
                    <div class="row order_d_inner">

                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Ordered Date</td>
                            <td><%=result[i].createdAt%></td>
                          </tr>

                          <tr>
                            <td>User Deyails</td>
                            <td>
                              Name - <%=result[i].deliveryAddress.firstName%>
                              ;Mob.Number -
                              <%=result[i].deliveryAddress.mobNumber%>
                              <br />Address -
                              <%=result[i].deliveryAddress.homeaddress%>
                              <br />state - <%=result[i].deliveryAddress.state%>
                              ;city - <%=result[i].deliveryAddress.city%>
                            </td>
                          </tr>
                          <tr>
                            
                          </tr>
                          <tr>
                            <td>Product Details</td>

                          <% for (var j =1; j <=result[i].products.length; j++ )
                          { %>
                          
                            <td>
                              Name -<%=result[i].products[j-1].name%> ; Price
                              -<%=result[i].products[j-1].price%> ; Quantity
                              -<%=result[i].products[j-1].quantity%>
                            </td>
                            <% } %>
                          </tr>
                        </tbody>
                      </table>

                     
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="button"
                      id="download-button"
                      class="btn btn-primary"
                    >
                      save as PDF
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('./partials/admin-footer.ejs') %>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/cr-1.6.1/date-1.2.0/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/rg-1.3.0/rr-1.3.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.css"
/>
<link rel="stylesheet" href="css/datatable.css" />

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  const button = document.getElementById("download-button");

  function generatePDF() {
    // Choose the element that your content will be rendered to.
    const element = document.getElementById("invoice");
    // Choose the element and save the PDF for your user.
    html2pdf().from(element).save();
  }

  button.addEventListener("click", generatePDF);
</script>

<script>
  function change(val) {
    let page = document.getElementById("page").textContent;
    let count = parseInt(page) + val;
    console.log(count);
    $.ajax({
      url: `/admin/orders?page=${count}&limit=10`,
      method: "get",
      success: (response) => {},
    });
  }
</script>

<script>
  $(document).ready(function () {
    $("#example").DataTable();
    $(".dataTables_length").addClass("bs-select");
  });
</script>

<script>
  function orderStatus(e, i) {
    const oid = e;
    const value = $(`#track${i}`).find(":selected").val();
    console.log(oid, value);
    //alert(`oid = ${oid}`);
    //alert(`value = ${value}`);

    $.ajax({
      url: "/admin/order-status",
      data: {
        oid,
        value,
      },
      method: "post",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Track statuse has been changed",
            showConfirmButton: false,
            timer: 1000,
          });
        }
      },
    });
  }
</script>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-colvis-2.3.3/b-html5-2.3.3/b-print-2.3.3/cr-1.6.1/date-1.2.0/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/rg-1.3.0/rr-1.3.1/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.js"
></script>
