<%- include('./partials/admin-dash.ejs') %>
<div class="container">
  <h3>Shipping address</h3>
  <span></span>
  <p>Name : <%=orders.deliveryAddress.firstName%></p>
  <p>Mobail number : <%=orders.deliveryAddress.mobNumber%></p>

  <p>Email : <%=orders.deliveryAddress.email%></p>

  <p>appartment : <%=orders.deliveryAddress.appartment%></p>
  <p>Homeaddress : <%=orders.deliveryAddress.homeaddress%></p>

  <p>City : <%=orders.deliveryAddress.city%></p>
  <p>State : <%=orders.deliveryAddress.state%></p>
  <p>Zipcode : <%=orders.deliveryAddress.zipcode%></p>

  <table class="table table-hover mt-4" style="min-height: 80vh !important;" id="example" >
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% orders.products.forEach(function(order,i){ %>

      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%=order.name%></td>
        <td><%=order.quantity%></td>
        <td><%=order.price%></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<!-- <div class="d-flex justify-content-around">...</div> -->
<%- include('./partials/admin-footer.ejs') %>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> 
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>


<script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );