<%- include('./partials/userHeader.ejs') %>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="./index.html"><i class="fa fa-home"></i> Home</a>
          <span>Shopping cart</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6 class="coupon__link">
          <span class="icon_tag_alt"></span>
          <a href="#">Have a coupon?</a> Click here to enter your code.
        </h6>
      </div>
    </div>
    <form id="checkout-form" class="checkout__form" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-8">
          <% if(userDetail) {%>
          <div class="row mt-2 mb-2" id="myAddress">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="d-flex align-items-center">Delivery Address</h5>
                  <div class="row" id="addressList">
                    <% userDetail.address.forEach((myAddress,index)=>{%>

                    <div class="col-md-6 mb-2" id="address-<%= index %>">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">
                            <i class="fa-solid fa-location-dot"></i> <%=
                            myAddress.firstName %>
                          </h5>
                          <address class="card-text">
                            <%= myAddress.firstName +' '+ myAddress.lastName %>,
                            <%= myAddress.homeaddress %>, <%=myAddress.city %>,
                            <%=myAddress.state %>, <br />
                            pincode: <%= myAddress.zipcode %><br />
                            ph:<%= myAddress.zipcode %>
                          </address>

                          <% if(index==0){ %>
                          <input
                            type="radio"
                            class="addressSelector"
                            name="address"
                            checked
                            id="<%=index%>"
                            value="<%=index%>"
                          />
                          <% }else{ %>
                          <input
                            type="radio"
                            class="addressSelector"
                            name="address"
                            value="<%=index%>"
                            id="<%=index%>"
                          />
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <%}) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <a href="/addAddress" class="btn btn-primary">Add New</a>
          </div>
          <%} else {%>

          <div class="card">
            <a href="/addAddress" class="btn btn-primary">Add New</a>
          </div>

          <%}%>
        </div>
        <div class="col-lg-4">
          <div class="checkout__order">
            <h5>Your order</h5>
            <div class="checkout__order__product">
              <ul>
                <li>
                  <span class="top__text">Product</span>
                  <span class="top__text__right">Total</span>
                </li>

                <% cartDetail.products.forEach(function(product,i) { %>
                <li>
                  <%=i+1%>. <%=product.name%> <span>$ <%=product.price%></span>
                </li>

                <%}) %>
              </ul>
            </div>
            <div class="checkout__order__total">
              <ul>
                <li>Total <span><%=cartDetail.total%></span></li>
                <li>Sybtotal <span><%=cartDetail.subTotal%></span></li>
              </ul>
            </div>
            <h2>Payment Method</h2>
            <div class="mt-3 mb-3">
              <input
                type="radio"
                id="NET-BANKING"
                name="paymentMethod"
                value="Online Payment"
                checked
              />
              <label for="NET-BANKING">NET BANKING</label><br />
              <input
                type="radio"
                id="PAY-ON-DELIVERY"
                name="paymentMethod"
                value="Cash On Delivery"
              />
              <label for="PAY-ON-DELIVERY">PAY ON DELIVERY</label><br />
            </div>
            <button type="submit" class="site-btn">Place oder</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Checkout Section End -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  $("#checkout-form").submit((e) => {
    let razorpayoderData;
    let userOrderData;
    e.preventDefault();
    $.ajax({
      url: "/checkout/<%= cartDetail._id %>",
      method: "post",
      data: $("#checkout-form").serialize(),
      success: (response) => {
        console.log(response, "responseresponseresponse");
        if (response.cashOnDelivery) {
          Swal.fire({
            title: "Are you sure?",
            text: "Are you sure to order this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, oder it!",
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire("Odered!", "Thank you for ordered.", "success");
              location.href = "/";
            }
          });
        } else if (response.onlinePayment) {
          console.log(response, "responseresponseonline");
          console.log("test ooooooooooooooooooooooooook");
          razorpayoderData = response.razorpayOrderData;
          userOrderData = response.userOrderData;
          var options = {
            key: process.env.YOUR_KEY_SECRET, // Enter the Key ID generated from the Dashboard
            amount: response.razorpayOrderData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: " Meta Hyprt mart",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: response.razorpayOrderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {
              console.log(response, "????????????????????????????????????????");

              verifyPayment(response, razorpayoderData, userOrderData);
            },
            prefill: {
              name: "Muhammed Ajnas",
              email: "gaurav.kumar@example.com",
              contact: "9999999999",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
          };

          var rzpl = new Razorpay(options);

          rzpl.on("payment.failed", function (response) {
            paymentFailed(response, userOrderData);
          });
          rzpl.open();
        }
      },
    });
  });

  function verifyPayment(payment, razorpayOrderData, userOrderData) {
    console.log(payment, "paymentpayment");
    console.log(razorpayOrderData, "razorpayOrderData");

    $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        razorpayOrderData,
        userOrderData,
      },
      method: "post",

      success: (response) => {
        if (response.status == true) {
          Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: true,
            confirmButtonText: "View Order",
            denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/viewOrders";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }

  function paymentFailed(response, userOrderData) {
    $.ajax({
      url: "/paymentFailed",
      data: {
        response,
        userOrderData,
      },
      method: "post",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Payment Failed !",
            icon: "error",
            showDenyButton: false,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }
</script>

<%- include('./partials/userFooter.ejs') %>
