<%- include('./partials/userHeader.ejs') %>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="./index.html"><i class="fa fa-home"></i> Home</a>
          <span>Shopping cart</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6 class="coupon__link">
          <span class="icon_tag_alt"></span>
          <a href="#">Have a coupon?</a> Click here to enter your code.
        </h6>
      </div>
    </div>
    <form id="checkout-form" class="checkout__form" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-8">
          <% if(userDetail) {%>
          <div class="row mt-2 mb-2" id="myAddress">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="d-flex align-items-center">Delivery Address</h5>
                  <div class="row" id="addressList">
                    <% userDetail.address.forEach((myAddress,index)=>{%>
                    
                    <div class="col-md-6 mb-2" id="address-<%= index %>">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">
                            <i class="fa-solid fa-location-dot"></i> <%=
                            myAddress.firstName %>
                          </h5>
                          <address class="card-text">
                            <%= myAddress.firstName +' '+ myAddress.lastName %>,
                            <%= myAddress.homeaddress %>, <%=myAddress.city %>,
                            <%=myAddress.state %>, <br />
                            pincode: <%= myAddress.zipcode %><br />
                            ph:<%= myAddress.zipcode %>
                          </address>
                          
                          <% if(index==0){ %>
                          <input
                            type="radio"
                            class="addressSelector"
                            name="address"
                            checked
                            id="<%=index%>"
                            value="<%=index%>"
                          />
                          <% }else{ %>
                          <input
                            type="radio"
                            class="addressSelector"
                            name="address"
                            value="<%=index%>"
                            id="<%=index%>"
                          />
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <%}) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <a href="/addAddress" class="btn btn-primary">Add New</a>
          </div>
          <%} else {%>

          <div class="card">
            <a href="/addAddress" class="btn btn-primary">Add New</a>
          </div>

          <%}%>
        </div>
        <div class="col-lg-4">
          <div class="checkout__order">
            <h5>Your order</h5>
            <div class="checkout__order__product">
              <ul>
                <li>
                  <span class="top__text">Product</span>
                  <span class="top__text__right">Total</span>
                </li>

                <% cartDetail.products.forEach(function(product,i) { %>
                <li>
                  <%=i+1%>. <%=product.name%> <span>$ <%=product.price%></span>
                </li>

                <%}) %>

                <!-- <li>
                  02. Zip-pockets pebbled<br />
                  tote briefcase <span>$ 170.0</span>
                </li>
                <li>03. Black jean <span>$ 170.0</span></li>
                <li>04. Cotton shirt <span>$ 110.0</span></li> -->
              </ul>
            </div>
            <div class="checkout__order__total">
              <ul>
                <li>Total <span><%=cartDetail.total%></span></li>
              </ul>
            </div>
            <h2>Payment Method</h2>
            <div class="mt-3 mb-3">
              <input
                type="radio"
                id="NET-BANKING"
                name="paymentMethod"
                value="Online Payment"
                checked
              />
              <label for="NET-BANKING">NET BANKING</label><br />
              <input
                type="radio"
                id="PAY-ON-DELIVERY"
                name="paymentMethod"
                value="Cash On Delivery"
              />
              <label for="PAY-ON-DELIVERY">PAY ON DELIVERY</label><br />
            </div>
            <button type="submit" class="site-btn">Place oder</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Checkout Section End -->
<script>
  let userOrderData;
  $("#checkout-form").submit((e) => {
    e.preventDefault();
    console.log("vannu >>>>>>>>>>>>>>>");
    $.ajax({
      url: "/checkout/<%= cartDetail._id %>",
      method: "post",
      data: $("#checkout-form").serialize(),
      success: (response) => {
        if (response.cashOnDelivery) {
          Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: true,
            confirmButtonText: "View Order",
            denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/confirm";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        } else if (response.onlinePayment) {
          console.log("test ok");
          let razorpayoderData = response.razorpayoderData;
          userOrderData = response.userOrderData;
          var options = {
            key: "rzp_test_EsWfdOrXZua8KY", // Enter the Key ID generated from the Dashboard
            amount: response.razorpayOrderData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "Karma Shoes",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: response.razorpayOrderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {
              console.log(response, "????????????????????????????????????????");
              // alert(response.razorpay_payment_id);
              //alert(response.razorpay_order_id);
              //alert(response.razorpay_signature);
              verifyPayment(response);
            },
            prefill: {
              name: "Gaurav Kumar",
              email: "gaurav.kumar@example.com",
              contact: "9999999999",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
          };

          var rzpl = new Razorpay(options);

          rzpl.on("payment.failed", function (response) {
            paymentFailed(response);
          });
          rzpl.open();
        }
      },
    });
  });

  function verifyPayment(payment, razorpayOrderData) {
    console.log(razorpayOrderData);

    $.ajax({
      url: "/verifyPayment",
      data: {
        payment,
        razorpayOrderData,
        userOrderData,
      },
      method: "post",

      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Order Placed Successfully",
            icon: "success",
            showDenyButton: true,
            confirmButtonText: "View Order",
            denyButtonText: `Continue Shopping`,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/confirm";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }

  function paymentFailed(response) {
    $.ajax({
      url: "/paymentFailed",
      data: response,
      method: "post",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "Payment Failed !",
            icon: "error",
            showDenyButton: false,
            toast: true,
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
              location.href = "/";
            } else if (result.isDenied) {
              location.href = "/";
            }
          });
        }
      },
    });
  }
</script>

<%- include('./partials/userFooter.ejs') %>
