<%- include('./partials/userHeader.ejs') %>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <!-- <a href="#">Women’s </a> -->
          <% if ((product.category.category=='Men')){ %>
          <a href="/mens">Men’s </a>

          <% } %> <% if ((product.category.category=='Women')){ %>
          <a href="/womens">Women’s </a>

          <% } %> <% if ((product.category.category=='Kids')){ %>
          <a href="/kids">Kid’s' </a>
          <% } %> <% if ((product.category.category=='Accessories')){ %>
          <a href="/accessories">Accessories </a>
          <% } %> <% if ((product.category.category=='Cosmetics')){ %>
          <a href="/cosmetics">Cosmetics </a>
          <% } %>
          <span><%=product.name%></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product__details__pic">
          <div class="product__details__pic__left product__thumb nice-scroll">
            <% for (var i =0; i <= imageNum; i++ ) { %>

            <a class="pt active" href="#product-<%=i+1%>">
              <img src="/images/productImages/<%=product.image[i]%>" alt="" />
            </a>

            <% } %>
          </div>
          <div class="product__details__slider__content">
            <div class="product__details__pic__slider owl-carousel">
              <% for (var i =0; i <= imageNum; i++ ) { %>

              <a
                data-hash="product-<%=i+1%>"
                href="/images/productImages/<%=product.image[i]%>"
                class="MagicZoom"
                ><img src="/images/productImages/<%=product.image[i]%>"
              /></a>

              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3>
            <%=product.name%>
            <span>Brand: <%=product.brand%></span>
          </h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <span>( 138 reviews )</span>
          </div>
          <div class="product__details__price">₹ <%=product.price%></div>
          <p><%=product.description%></p>
          <div class="product__details__button">
            <!-- <div class="quantity">
              <span>Quantity:</span>
              <div class="pro-qty">
                <input type="text" value="1" />
              </div>
            </div> -->
            <a
              onclick="addTocart('<%=product.id%>','<%=product.name%>','<%=product.price%>')"
              class="cart-btn"
              ><span class="icon_bag_alt"></span> Add to cart</a
            >
            <ul>
              <li>
                <a
                  onclick="addToWishlist('<%=product.id%>','<%=product.name%>','<%=user%>')"
                  ><span class="icon_heart_alt"></span
                ></a>
              </li>
              <li>
                <a href="#"><span class="icon_adjust-horiz"></span></a>
              </li>
            </ul>
          </div>
          <div class="product__details__widget">
            <ul>
              <li>
                <span>Availability:</span>
                <div class="stock__checkbox">
                  <label for="stockin">
                    In Stock
                    <input type="checkbox" id="stockin" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </li>

              <li>
                <span>Promotions:</span>
                <p>Free shipping</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="related__title">
          <h5>RELATED PRODUCTS</h5>
        </div>
      </div>
      <% featuredProd.forEach(function(product,index) { %>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/images/productImages/<%=product.image[0]%>"
          >
            <% if(product.quantity >20 ){ %>
            <div class="label new">New</div>
            <% } %> <% if(product.quantity<1 ) {%>
            <div class="label stockout">out of stock</div>

            <% } %>

            <ul class="product__hover">
              <li>
                <a href="/product-details/<%=product._id%>"
                  ><span class="arrow_expand"></span
                ></a>
              </li>
              <li>
                <a
                  onclick="addToWishlist('<%=product.id%>','<%=product.name%>')"
                  ><span class="icon_heart_alt"></span
                ></a>
              </li>
              <li>
                <a
                  onclick="addTocart('<%=product.id%>','<%=product.name%>','<%=product.price%>')"
                  ><span class="icon_bag_alt"></span
                ></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#"><%=product.name%></a></h6>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product__price">₹ <%=product.price%></div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

<!-- Instagram Begin -->
<div class="instagram">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div
          class="instagram__item set-bg"
          data-setbg="/img/instagram/insta-1.jpg"
        >
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div
          class="instagram__item set-bg"
          data-setbg="/img/instagram/insta-2.jpg"
        >
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div
          class="instagram__item set-bg"
          data-setbg="/img/instagram/insta-3.jpg"
        >
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div
          class="instagram__item set-bg"
          data-setbg="/img/instagram/insta-4.jpg"
        >
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div
          class="instagram__item set-bg"
          data-setbg="/img/instagram/insta-5.jpg"
        >
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div
          class="instagram__item set-bg"
          data-setbg="/img/instagram/insta-6.jpg"
        >
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Instagram End -->
<%- include('./partials/userFooter.ejs') %>
